<div class="col-md-5">
                            <h4 class="fancy dark">Contact Us</h4>
                        <form id="contactform">
                            <div class="form-group">
                                <label for="name">Your Name</label>
                                <input type="text" class="form-control" id="name" aria-describedby="nameHelp" placeholder="Enter your name" required>
                            </div>
                            <div class="form-group">
                                <label for="phone">Your Phone</label>
                                <input type="tel" class="form-control" id="phone" aria-describedby="phoneHelp" placeholder="Enter phone number" required>
                            </div>
                            <div class="form-group">
                                <label for="email">Email address</label>
                                <input type="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Enter email" required>
                                <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                            </div>
    
                            <div class="form-group email-confirm">
                                    <label for="emailconfirm">Email address confirm</label>
                                    <input type="emailconfirm" class="form-control" id="emailconfirm" aria-describedby="emailHelp" placeholder="Enter email">
                                </div>
    
                            <div class="form-group">
                                <label for="message">Message</label>
                                <textarea class="form-control" rows="5" id="message" required>
    
                                </textarea>
                            </div>
                            <button type="submit" class="btn btn-primary" id="submit">Submit</button>
                        </form>
                        <div class="alert alert-primary" id="form-response-success" role="alert">
                            Message received!
                        </div>
    
                        <div class="alert alert-danger" id="form-response-error" role="alert">
                            There was an error, please try again.
                        </div>
    
                    </div>
