<div class="row mt-5 anchor" id="facility">

            <div class="col-md-7 col-sm-12">
                <h1 class="display-4 fancy dark justify-content-xs-center">Our Facility</h1>
                <p>Here at Dynamo Fitness you will find a fully loaded private gym capable of of handling your every need. From dumbbells to benches, racks to rowers, we can create whatever workout that is right for you. Mirrors surround the gym to help improve your form and showcase your hard work, music is always playing and your personalized and custom workouts will always be up on the board when you arrive. 
                    </p>
            </div>

            <div class="col-md-5">
               <img src="/assets/img/24069095-0500-4543-890C-26AEE9FDA573.jpeg" class="img-fluid" />
            </div>

        </div>
