<div class="container-fluid bg-dark pt-5 pb-5">
            <div class="row justify-content-center">
                <div class="col-md-9 text-center">
                    <h1 class="display-4">What is Dynamo Fitness?</h1>
                    <p>Dynamo Fitness is a private gym and obstacle course race training facility in Pflugerville, Texas. It is owned and operated by Keri Klumker. All workouts are specifically made for EACH client and held in a private and comfortable environment. Workouts are tailored to meet individual goals and preferences. Safety, proper form, achievable goals and learning to love fitness are the core of my training programs.</p>
                </div>
            </div>
        </div>
