<div class="container-fluid bg-dark pt-5 pb-5">
            <div class="row justify-content-center">
                <div class="col-md-9 text-center">
                    <h1 class="display-4">What is Dynamo Fitness?</h1>
                    <p>Dynamo Fitness is a private fitness gym in Pflugerville, Texas. It is operated by Keri Klumker, certified Personal Trainer, Corrective Exercise Specialist and Fitness Nutrition Specialist. All workouts are specifically made for EACH client and held in a private gym
                        and comfortable environment. Workouts are tailored to meet individual goals and preferences. Safety,
                        proper form and achievable goals are the core of my training programs.</p>
                </div>
            </div>
        </div>
