<div id="rates" class="anchor">
            <div class="row  mt-5 justify-content-center">
                <div class="col-md-9 text-center">
                    <h1 class="display-4 fancy dark">Our Rates</h1>
                </div>
            </div>

            <div class="row">
		{% for item in site.data.rates %}

                <div class="col-md col-xs-12 mt-1">
                    <div class="card fancy">
                        <div class="card-header">
				<h6 class="card-subtitle mb-2 text-muted">{{ item.name }}</h6>
				<h1 class="fancy">{{ item.price }}</h1>
			    <h6 class="card-subtitle text-muted">per {{ item.uom }}</h6>
                        </div>
                        <div class="card-body">
                            <a href="#contact" class="btn btn-primary">Sign Up!</a>
                        </div>
                    </div>
                </div>
		{% endfor %}
	    </div>
		</div>
