<div class="row mt-5 anchor justify-content-sm-center" id="trainer">
            <div class="col-md-3">
                <img src="/assets/img/keri.jpg" class="rounded-circle img-fluid" />
            </div>
            <div class="col-md-8 offset-md-1 col-sm-12">
                <h1 class="display-4 fancy dark">Meet your trainer</h1>
                <p>My passion has always been helping people. I graduated nursing school with the thought of helping people
                    get well. 10 years later I decided to go another route and help people stay out of the hospital altogether.
                    I had always loved to workout, loved the feeling of bettering myself. I also fell in love with weight
                    lifting. As I pursued my love for lifting, it became very clear that most women didn&rsquo;t know the
                    benefits of lifting, were intimidated by it and the gym setting as well. It became my mission to teach
                    both men, women and kids how to properly and safely lift weights. I now have a fully loaded garage gym,
                    I am a certified Personal Trainer and I LOVE the time spent in my gym with my clients of all levels and
                    ages. </p>
            <ul class="certifications">
			{% for item in site.data.certifications %}
			<li class="certification"> {{ item.organization }} {{ item.name }} </li>
			{% endfor %}
                    </ul> 
            </div>
        </div>
